mixin nav()
    div(class="navTop")
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a.navbar-brand(href='#')
                    img(src='/img/logo.png' width='150' height='30' alt='')
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href='/home') Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/events') Events
                        li.nav-item
                            a.nav-link(href='#') Users
                        li.nav-item
                            a.nav-link(href='#') Company