mixin newUser()
     form(action="/opretbruger" method="POST")
          h2 Opret bruger
          
          div.form-group
               input(type="text" name="email" placeholder="Email").form-control
          div.form-group
               input(type="password" name="password" placeholder="Password").form-control
          div.form-group
               label(for="")
               input(type="text" name="companyName" placeholder="Company Name").form-control
          div.form-group
               input(type="text" name="customerServiceEmail" placeholder="Customer Service Email").form-control
          div.form-group
               input(type="text" name="customerServiceTelephone" placeholder="Customer Service Telephone").form-control
          div.form-group
               input(type="text" name="companyTelephone" placeholder="Company Telephone").form-control
          div.form-group
               input(type="text" name="address" placeholder="Address").form-control
          div.form-group
               input(type="text" name="zipCode" placeholder="zipCode").form-control
          div.form-group
               input(type="text" name="Country" placeholder="Country").form-control
          div.form-group
               input(type="text" name="City" placeholder="City").form-control
          div.form-group
               input(type="text" name="responsibleFirstName" placeholder="Responsible First Name").form-control
          div.form-group
               input(type="text" name="responsibleLastName" placeholder="Responsible Last Name").form-control
          div.form-group
               input(type="text" name="cvrNumber" placeholder="CVR").form-control
          div.form-group
               input(type="text" name="eanNumber" placeholder="EAN").form-control
          div.form-group
               input(type="submit" class="btn btn-success" value="Opret Arrangør")