extends index.pug
block content
    .dropdown.show#dropD
        a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Choose an event action.
        .dropdown-menu( aria-labelledby='dropdownMenuLink')
            a.dropdown-item( href='/toCreate') Create Event
            a.dropdown-item( href='/toOverview') Event overview
            a.dropdown-item( href='/toTickets') Attach ticket


