mixin newEvent()
    form(action="/events" method="post")
        h3 Nyt Arrangement
        //- div.form-group
        //-     label(for="inputType") Arrangementstype
        //-     select(id="inputType").form-control            
        //-         option 1
        //-         option 2
        //-         option 3
        div.form-group
            label(for="eventName") Arrangementes navn
            input(type="text" id="eventName" name="eventName").form-control
        div.form-group
            label(for="description") Beskrivelse
            textarea(type="text" id="description" name="description" rows="3").form-control
            small.form-text.text-muted (Maksimalt 255 tegn)
        div.form-group
            label(for="locationName") Sted navn
            input(type="text" id="locationName" name="locationName").form-control
        div.form-group
            label(for="address") Adresse 
            input(type="text" id="address" name="address").form-control
        div.form-row
            div.form-group.col-4
                label(for="zipcode") Postnummer
                input(type="text" id="zipcode" name="zipcode").form-control
            div.form-group.col-4
                label(for="city") By
                input(type="text" id="city" name="city").form-control
            div.form-group.col-4
                label(for="country") Land
                input(type="text" id="country" name="country").form-control
        div.form-group
            label(for="time") Arrangementet afholdings dag
            input(type="text" id="time" name="time").form-control
        div.form-group
            label(for="start") Arrangementet salgsperiode starter
            input(type="text" id="start" name="start").form-control
        div.form-group
            label(for="end") Arrangementet salgsperiode slutter
            input(type="text" id="end" name="end").form-control
        div.form-group 
            input(type="submit" class="btn btn-success" value="Create Event")
