extends index.pug
block content
    #multipleSelect
        .form-group
            label#labels(for='exampleFormControlSelect2') Active events overview
            select#exampleFormControlSelect2.form-control(multiple='')
                option 1
                option 2
                option 3
                option 4
                option 5
            button#delete(type="submit")
                i.fa.fa-trash
            button#update
                i.fa.fa-pencil(aria-hidden='true') 

        .form-group2
            label#labels(for='exampleFormControlSelect3') Associated tickets
            select#exampleFormControlSelect3.form-control(multiple='')
                option 1
                option 2
                option 3
                option 4
                option 5
            button#delete
                i.fa.fa-trash
            button#update
                i.fa.fa-pencil(aria-hidden='true')

        //- #buttons
        //-     button#delete          
        //-         i.fa.fa-trash 
        //-     button#update
        //-         i.fa.fa-bars
//- probalply a mixin for input of active events here

