//- Extends can change according to occation of use
extends topPage.pug
block content
    div#footer
        #contactInfo
            p BetterPlacesTooBook
            p Sønderhøj 48, Viby J‎ 
            p Phone 72 28 60 00
            p info@betterPlacesToBook.com
        #rights
            p ®2018 BetterPlacesToBook
            p All rights reserved
        #aboutUs
            a(href="") About us.