<!DOCTYPE html>
include event.pug
include createUser.pug
include backend.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href="/css/bootstrap.min.css")
        link(rel='stylesheet', href="/css/styles.css")
        link(rel="stylesheet", href="/css/navBarStyle.css")
        link(rel="stylesheet", href="/css/loginTemplate.css")
        link(rel="stylesheet", href="/css/eventOverview.css")
        script(src="/js/scripts.js")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        title #{title}
    body
        div#banner
         +nav()
    block content
        //- .container
        //-     hr
        //-     +newEvent()
        //-     hr
        //-     +newUser()
        //-     hr
            

            