extends index.pug
block content
        .main-div
            .panel
                h2 Admin Login
                p Please enter your email and password
                form(action="/login" method="POST")
                    .form-group
                    input#inputEmail.form-control(type="email" name="email" placeholder="Email Address")
                    .form-group
                    input#inputPassword.form-control(type="password" name="password" placeholder="Password")
                    .forgot
                    button.btn.btn-primary(type="submit") Login
                    p
                        a(href="opretbruger") Opret bruger?
