#multipleSelect{
    width: 100%;
}
#delete, #update{
    background-color: dimgray;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}
.form-group{
    width: 50%; 
    display: inline-block;  
    padding-right: 20px;  
}
.form-group2{
    width: 50%; 
    display: inline-block;    
}
#exampleFormControlSelect2,#exampleFormControlSelect3 {
    height: 400px;
}
#labels{
    text-align: center;
    font-size: 25px;
}