
#logo{
    height: 70px;
    width: 130px;
}
#banner{
    background-color: lightgrey;
}
#actions{
    float: right;
}
#actBtn{
    height: 75px;
    width: 75px;
    background-color: lightcoral;
}
#dropdownMenuLink{
    width: 100%;
}
#dropdownitem{
    width: 100%
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    text-align: center;
}